<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="text-center">
    <h1>Users</h1>
  </div>
  <%= render 'partialform' %>

  <%= link_to 'New User', new_user_path %>
</div>

<br>
