<div class="text-center">
  <h1>Products</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody id="products_table">

  </tbody>
</table>